{% extends "core_templates/core_base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'core_styles/views/core_home.css' %}">
{% endblock %}

{% block content %}
<body id="core_home" class="">


    <header class="h-64 bg-gradient-to-r from-yellow-200 bg-orange-600">
        <div class="flex justify-center items-center h-full">
            <h1 class="text-center text-white main-font text-2xl m-5">
                AI & Robotics is just a forerunner to a bigger meaning...
            </h1>
        </div>
    </header>


    <section class="text-gray-700 body-font border-t border-gray-200">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Blog Posts</h2>
            <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Explore our Latest Posts</h1>
          </div>
          <div class="flex flex-wrap -m-4">
            <div class="p-4 md:w-1/3">
              <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                <div class="flex items-center mb-3">
                  <h2 class="text-gray-900 text-lg title-font font-medium">Human Companion</h2>
                </div>
                <div class="flex-grow">
                  <p class="leading-relaxed text-base">Having a connection with something that really relates to you feels amazing, why not try to create a friend programmed to cope with your feelings.</p>
                  <a class="mt-3 text-indigo-500 inline-flex items-center" href="{% url 'core-home' %}" >Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-4 md:w-1/3">
              <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                <div class="flex items-center mb-3">
                  <h2 class="text-gray-900 text-lg title-font font-medium">AI Emotions</h2>
                </div>
                <div class="flex-grow">
                  <p class="leading-relaxed text-base">Is it ethical to give AI emotion's as we all do? Is it smart? Is it safe? How will it effect humanity? All these questions... see our take on it. </p>
                  <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="p-4 md:w-1/3">
              <div class="flex rounded-lg h-full bg-gray-100 p-8 flex-col">
                <div class="flex items-center mb-3">
                  <h2 class="text-gray-900 text-lg title-font font-medium">Explore Beyond the horizon of our own Earth</h2>
                </div>
                <div class="flex-grow">
                  <p class="leading-relaxed text-base">We want Robots to help our expansion to discover our universe, but we believe its only right for homosapiens to do the honor. See what we plan for the future of the space race.</p>
                  <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>


    <section class="text-gray-700 body-font border-t border-gray-200">
        <div class="container px-5 py-24 mx-auto flex flex-wrap">
          <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
            <img alt="feature" class="object-cover object-center h-full w-full" src="{% static 'core_styles/media/vid-1.gif' %}">
          </div>
          <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
            <div class="flex flex-col mb-10 lg:items-start items-center">
              <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                  <circle cx="6" cy="6" r="3"></circle>
                  <circle cx="6" cy="18" r="3"></circle>
                  <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3 main-font">Using AI to take shortcuts in huge problems</h2>
                <p class="leading-relaxed text-base">There are many huge problems to solve in humanity, a little help from our new technological friends wouldn't hurt (hopefully our friends).</p>
                <a class="mt-3 text-indigo-500 inline-flex items-center" href="{% url 'core-home' %}">Research Post
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="flex flex-col mb-10 lg:items-start items-center">
              <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3 main-font">Teaching AI to perseve physics in a different sense</h2>
                <p class="leading-relaxed text-base">Teaching AI to solve physics problems in a very unique way than normal. </p>
                <a class="mt-3 text-indigo-500 inline-flex items-center" href="{% url 'core-home' %}">Research Post
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="flex flex-col mb-10 lg:items-start items-center">
              <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-gray-900 text-lg title-font font-medium mb-3 main-font">Robot Emotion Comprehension</h2>
                <p class="leading-relaxed text-base">Emotion is an easy thing to program in a sense but to make it actually sentient is a different story.</p>
                <a class="mt-3 text-indigo-500 inline-flex items-center" href="{% url 'core-home' %}">Research Post
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>


</body>
{% endblock content %}

{% block scripts %}    

{% endblock %}