{% extends "core_templates/core_base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'core_styles/views/core_about.css' %}">
{% endblock %}

{% block content %}
<body id="core_about" class="">


    <section class="h-64 bg-gradient-to-r from-yellow-200 bg-orange-600">
        <div class="flex justify-center items-center h-full">
            <h1 class="text-center text-white main-font text-2xl m-5">
                Who are we and what is our goal?
            </h1>
        </div>
    </section>


    <section class="text-gray-700 body-font border-gray-200 h-80">
        <div class="container px-5 py-24 mx-auto">
          <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <p class="text-gray-500">
                Who are we?
            </p>
            <span class="inline-block h-1 w-2 rounded bg-orange-600 mt-8 mb-6 h-32"></span>
            <p class="leading-relaxed text-lg main-font">
                Pulsar-Stellar AI is a team of very gifted Engineer's, Scientist's, Psychologist's and Reasercher's all to grow humanities knowledge on mostly every subject.
            </p>
          </div>
        </div>
    </section>

    <a href="#OurGoal">
    <section class="text-gray-700 body-font border-gray-200 h-96">
        <div class="container px-5 py-24 mx-auto">
          <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <p class="text-gray-500">
                Our Goal
            </p>
            <span class="inline-block h-1 w-2 rounded bg-orange-600 mt-8 mb-6 h-64"></span>
            <p class="leading-relaxed text-lg main-font">
                We are motivated by lots of things/problems in the world around us and have a great understanding of what are the ongoing problems. Our goal is to advanced humanity to the next level, meanwhile while helping humans with our new technological friend, AI and Robotics.
            </p>
          </div>
        </div>
    </section>
    </a>


    <section class="h-96 text-gray-700 body-font border-t border-gray-200">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Team</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">The team that makes things happen...</p>
          </div>
          <div class="flex flex-wrap -m-2">
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <div alt="team" class="w-16 h-16 object-cover object-center flex-shrink-0 rounded-full mr-4 bg-gradient-to-r from-blue-700 bg-orange-600"></div>  
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Holden Caulfield</h2>
                  <p class="text-gray-500">AI Engineer</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <div alt="team" class="w-16 h-16 object-cover object-center flex-shrink-0 rounded-full mr-4 bg-gradient-to-r from-pink-300 bg-neutral-100"></div>  
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Henry Letham</h2>
                  <p class="text-gray-500">Roboticist</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <div alt="team" class="w-16 h-16 object-cover object-center flex-shrink-0 rounded-full mr-4 bg-gradient-to-r from-blue-500 bg-purple-300"></div>  
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Adrian Blanc</h2>
                  <p class="text-gray-500">Founder & Chief Engineer</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <div alt="team" class="w-16 h-16 object-cover object-center flex-shrink-0 rounded-full mr-4 bg-gradient-to-r from-red-300 bg-yellow-300"></div>  
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">John Ming</h2>
                  <p class="text-gray-500">DevOps</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <div alt="team" class="w-16 h-16 object-cover object-center flex-shrink-0 rounded-full mr-4 bg-gradient-to-r from-red-500 bg-blue-900"></div>
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Martin Eden</h2>
                  <p class="text-gray-500">Software Engineer</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <div alt="team" class="w-16 h-16 object-cover object-center flex-shrink-0 rounded-full mr-4 bg-gradient-to-r from-pink-400 bg-blue-400"></div>     
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Boris Kitua</h2>
                  <p class="text-gray-500">Physicist Researcher</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <div alt="team" class="w-16 h-16 object-cover object-center flex-shrink-0 rounded-full mr-4 bg-gradient-to-r from-blue-500 bg-green-200"></div>                
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Atticus Finch</h2>
                  <p class="text-gray-500">Software Engineer</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <div alt="team" class="w-16 h-16 object-cover object-center flex-shrink-0 rounded-full mr-4 bg-gradient-to-r from-red-100 bg-purple-900"></div>  
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Alper Kamu</h2>
                  <p class="text-gray-500">Roboticist</p>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <div alt="team" class="w-16 h-16 object-cover object-center flex-shrink-0 rounded-full mr-4 bg-gradient-to-r from-green-500 bg-purple-600"></div>  
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Rodrigo Monchi</h2>
                  <p class="text-gray-500">Researcher</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>


    <section class="h-48">

    </section>


</body>
{% endblock content %}

{% block scripts %}    

{% endblock %}