{% extends "core_templates/core_base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'core_styles/views/core_research.css' %}">
{% endblock %}

{% block content %}
<body id="core_research" class="">


    <header class="h-64 bg-gradient-to-r from-yellow-200 bg-orange-600">
        <div class="flex justify-center items-center h-full">
            <h1 class="text-center text-white main-font text-2xl m-5">
                Revolutionizing the feild of AI & Robotics, as well as humanity.
            </h1>
        </div>
    </header>


    <section class="h-screen text-gray-700 body-font border-t border-gray-200">
        
    </section>


</body>
{% endblock content %}

{% block scripts %}    

{% endblock %}