{% extends "docs_templates/docs_base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'docs_styles/views/docs_home.css' %}">
{% endblock %}

{% block content %}
<body id="docs_home" class="">

    <header class="h-screen bg-gradient-to-r from-yellow-200 bg-orange-600">
        <div class="flex justify-center items-center h-full">
            <h1 class="text-center text-white main-font text-2xl m-5">
                In Production
            </h1>
        </div>
    </header>

</body>
{% endblock content %}

{% block scripts %}    

{% endblock %}