{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tailwind Css -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/75a85f6b7c.js" crossorigin="anonymous"></script>

    <!-- Icon --> 
    <link rel="shortcut icon" href="{% static 'core_styles/media/pulsar-stellar-logo.png' %}" />
    <link rel="icon" href="{% static 'core_styles/media/pulsar-stellar-logo.png' %}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'docs_styles/docs_base.css' %}">
    <link rel="stylesheet" href="{% static 'core_styles/core_base.css' %}">

    {% block styles %}{% endblock %}

    {% if title %}
        <title>{{ title }} | Docs</title>
    {% else %}
        <title>Docs</title>
    {% endif %}

</head>
<body>

    <!-- Core-Navbar -->
    {% include 'core_templates/components/core_navbar.html' %}

    
    <section class="section">
        {% block content %}

        {% endblock %}
    </section>


    <!-- Core-Footer -->
    {% include 'core_templates/components/core_footer.html' %}


    
  {% block scripts %}{% endblock %}

</body>
</html>