@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

/* //////////////////////////////////////////////////////// */

* {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-background {
    background-image: linear-gradient(to bottom right, #72EFDD, #48BFE3, #5E60CE);
}

.main-font {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}