{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'core_styles/components/core_footer.css' %}">
{% endblock %}

<div class="bg-orange-200">
    <div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-center">
       <div class="p-5 w-48 ">
          <div class="text-xs uppercase text-orange-600 font-medium">Featured</div>
          <a class="my-3 block" href="/#">Explorers<span class="text-teal-600 text-xs p-1"></span></a> <a class="my-3 block" href="/#">IO<span class="text-teal-600 text-xs p-1"></span></a> <a class="my-3 block" href="/#">Quasar<span class="text-teal-600 text-xs p-1"></span></a>
       </div>
       <div class="p-5 w-48 ">
          <div class="text-xs uppercase text-orange-600 font-medium">Resources</div>
          <a class="my-3 block" href="/#">Documentation <span class="text-teal-600 text-xs p-1"></span></a> <a class="my-3 block" href="/#">Tutorials <span class="text-teal-600 text-xs p-1"></span></a> <a class="my-3 block" href="{% url 'core-home' %}">API<span class="text-teal-600 text-xs p-1"></span></a> 
       </div>
       <div class="p-5 w-48 ">
          <div class="text-xs uppercase text-orange-600 font-medium">Information</div>
          <a class="my-3 block" href="{% url 'core-home' %}">About Us<span class="text-teal-600 text-xs p-1"></span></a> <a class="my-3 block" href="{% url 'core-home' %}">Our Reaserch <span class="text-teal-600 text-xs p-1"></span></a> <a class="my-3 block" href="/#">Careers <span class="text-teal-600 text-xs p-1"></span></a>
       </div>
       <div class="p-5 w-48 ">
          <div class="text-xs uppercase text-orange-600 font-medium">Contact us</div>
          <a class="my-3 block" href="https://goo.gl/maps/QK3UchE18P9cXbEH6">Boca Chica, TX<span class="text-teal-600 text-xs p-1"></span></a> <a class="my-3 block" href="#">contact@pulsarstellar.ai<span class="text-teal-600 text-xs p-1"></span></a> 
       </div>
    </div>
 </div>
 
 <div class="bg-orange-300 pt-2 ">
    <div class="flex pb-5 px-3 m-auto pt-5 border-t text-gray-800 text-sm flex-col
       md:flex-row max-w-6xl">
       <div class="mt-2">© Copyright 2022. All Rights Reserved.</div>
       <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
          <a href="https://www.linkedin.com/company/82020228/" class="w-6 mx-1">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/Pulsar-Stellar" class="w-6 mx-1">
            <i class="fa-brands fa-github"></i>
          </a>
          <a href="https://twitter.com/PulsarStellar" class="w-6 mx-1">
            <i class="fa-brands fa-twitter"></i>
          </a>
       </div>
    </div>
 </div>

{% block scripts %}    

{% endblock %}