{% load static %}


{% block styles %}
    <link rel="stylesheet" href="{% static 'core_styles/components/core_navbar.css' %}">
{% endblock %}

<div class="font-sans bg-gray-100">
    <nav class="bg-white shadow" role="navigation">
      <div class="container mx-auto p-4 flex flex-wrap items-center sm:flex-no-wrap">
        <div class="mr-4 sm:mr-8 lg:mr-12 xl:mr-16">
          <a href="{% url 'core-home' %}" rel="home">
            <img src="{% static 'core_styles/media/pulsar-stellar-logo.png' %}" width="30" height="30" alt="Logo">
              <title>Pulsar-Stellar</title>
              <path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"></path>
            </svg>
          </a>
        </div>
        <div class="ml-auto sm:hidden">
          <button class="flex items-center px-3 py-2 border rounded" id="navToggle" type="button" aria-controls="navContent" aria-expanded="false">
            <svg class="h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
          </button>
        </div>
        <div class="hidden w-full sm:block sm:w-auto sm:flex-grow sm:flex sm:items-center" id="navContent" aria-labelledby="navToggle">
          <ul class="flex flex-col mt-4 -mx-4 pt-4 border-t sm:flex-row sm:items-center sm:mx-0 sm:ml-auto sm:mt-0 sm:pt-0 sm:border-0">
            <li>
                <a class="block px-4 py-1 sm:p-2 md:px-4 main-font" href="{% url 'core-about' %}" title="Link">About</a>
            </li>
            <li>
                <a class="block px-4 py-1 sm:p-2 md:px-4 main-font" href="{% url 'core-research' %}" title="Link">Research</a>
            </li>
            <li>
              <a class="block px-4 py-1 sm:p-2 md:px-4 main-font" href="{% url 'blog-home' %}" title="Link">Blog</a>
            </li>
            <li>
                <a class="block px-4 py-1 sm:p-2 md:px-4 main-font" href="{% url 'docs-home' %}" title="Link">API</a>
            </li>
            <li>
              {% if user.is_authenticated %}
                <a class="block px-4 py-1 sm:p-2 md:px-4 main-font" href="{% url 'verify-logout' %}" title="Link">Logout</a>
              {% else %}
                <a class="block px-4 py-1 sm:p-2 md:px-4 main-font" href="/login/auth0" title="Link">Login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


<script>
      const navToggle = document.getElementById('navToggle'),
        navContent = document.getElementById('navContent');

  navToggle.addEventListener('click', () => {
    if (navContent.classList.contains('hidden')) {
      navContent.classList.remove('hidden');
    } else {
      navContent.classList.add('hidden');
    }
  });
</script>

{% block scripts %}    

{% endblock %}
